body{
    background-image: url("download\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    

}
header{
    font-size: 30px;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 10px;
    border-radius: 0.4em;
    text-align: center;

}
.btn{
    text-align: center;
}
#infoResultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background: rgba(0, 0, 0, 0.85);
    color:white;
}
#infoResultado #titulo{
    font-family: 'Bakbak One', cursive;
    font-size: 25px;
    color: #2f00ffb6;
}